<!doctype html>
<html lang="en">
<head>
<title>Producto Nuevo</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS v5.2.1 -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
rel="stylesheet"
integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">
<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="icon" type="image/vnd.icon" href="favicon.ico">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
<link rel="stylesheet" href=" css/style.css">
</head>
<body>
    <header class="header">
        <a href="index.html">
            <img class="header__logo" src="img/logo.png" alt="Logotipo">
        </a>
        
    </header>
    <nav class="navegacion">
        <a class="navegacion__enlace navegacion__enlace--activo" href="index.html">Home</a>
        <a class="navegacion__enlace" href="tienda.html">Tienda</a>
        <a class="navegacion__enlace" href="nosotros.html">Nosotros</a>
        <a class="navegacion__enlace" href="contacto.html">Contacto</a>
    </nav>
<main>
<div class="carousel-container">
<form style="background-color: aliceblue;margin:10px auto ; width: 400px; padding: 20px;">
<h1>Alta de Producto</h1>
<div class="mb-3">
<label for="nombre">Nombre</label>
<input type="text" name="nombre" id="nombre" v-model="nombre">
</div>
<div class="mb-3">
<label for="precio">Precio</label>
<input type="number" name="precio" id="precio" v-model="precio">
</div>

<div class="mb-3">
<label for="stock">Stock</label>
<input type="number" name="stock" id="stock" v-model="stock">
</div>
<div class="mb-3">
<label for="imagen">Imagen</label>
<input type="text" name="imagen" id="imagen" v-model="imagen">
<img width="100" :src="imagen" alt="">
</div>
<div class="mb-3">
    <label for="imagen">Descripcion</label>
    <input type="text" name="descripcion" id="descripcion" v-model="descripcion">
    </div>
<button type="button" class="btn btn-success"

v-on:click="grabar()">Grabar</button>
</form>
</div>
</main>
<footer>
<!-- place footer here -->
</footer>
<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
crossorigin="anonymous">
</script>
<script src="./js/main.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="./js/productos.js"></script>
</body>
<footer>
    <div class="footer-grid">
        <!-- Columna 1 - Nuestra Información -->
        <div class="footer-column">
            <h3>Nuestra Información</h3>
            <br>
            <br>
            <p>Dirección: Calle 123, Ciudad</p>
            <p>Teléfono: (123) 456-7890</p>
            <p>Email: info@example.com</p>
        </div>
  
        <!-- Columna 2 - Links de Interés -->
        <div class="footer-column">
            <h3>Links de Interés</h3>
            <br>
            <br>
            <a class="footer-link" href="#">Términos y Condiciones</a>
            <a class="footer-link" href="#">Política de Privacidad</a>
            <a class="footer-link" href="#">Preguntas Frecuentes</a>
        </div>
  
        <!-- Columna 3 - Redes Sociales -->
        <div class="footer-column">
            <h3>Redes Sociales</h3>
            <br>
            <br>
            <ul class="social-icons">
                <li><a href="#" onclick="alert('no disponible.. esto es solo una demo')"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#" onclick="alert('paraaaaaaaaaaaa... esto es solo una demo')"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" onclick="alert('sabes que es solo una demo, no?')"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
  
        <!-- Columna 4 - Suscribirse a Nuestro Newsletter -->
        <div class="footer-column">
          <div class="newsletter-container">
              <h3>Recibe nuestras ofertas</h3>
              <form class="subscribe-form" action="#">
                  <input type="email" placeholder="Ingrese su correo electrónico">
                  <button type="submit" onclick="alert('paraaaaaaaaaaaa... esto es solo una demo')">Suscribirse</button>
              </form>
          </div>
    </div>
    <div class="mediospago">
      <img src="img/1.webp" alt="">
    </div>
  </footer>
</html>